<div class="rcorner" id="<%= dom_id info %>">
  <p>
   <strong>Agent:</strong>
   <%= info.agent %>
  </p>

  <p>
    <strong>Evénement:</strong>
    <%= info.event %>
  </p>

  <p>
    <strong>Ouvrage:</strong>
    <%= info.ouvrage %>
  </p>

  <p>
    <strong>Priorité:</strong>
    <%= info.priority %>
  </p>

  <p>
    <strong>Date souhaitée:</strong>
    <%= info.target %>
  </p>

  <p>
    <strong>Détail:</strong>
    <%= info.detail %>
  </p>

  <p>
    <strong>Devis:</strong>
    <%= info.devis %>
  </p>

  <p>
    <strong>Brips:</strong>
    <%= info.brips %>
  </p>

  <p>
    <strong>Oups:</strong>
    <%= info.oups %>
  </p>

  <p>
    <strong>Ameps:</strong>
    <%= info.ameps %>
  </p>

  <p>
    <strong>Ais:</strong>
    <%= info.ais %>
  </p>

  <p>
    <strong>Rte:</strong>
    <%= info.rte %>
  </p>

  <p>
    <strong>PS:</strong>
    <%= info.source.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= info.status %>
  </p>

  <p>
    <strong>Panne créée le:</strong>
    <%= info.created_at %>
  </p>

</div>
