<header>
<p style="color: green"><%= notice %></p>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Sources",  root_path, class:"navbar-brand" %> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Editer", edit_source_info_path(@source, @info), class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Retour", source_path(@source), class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Ajouter Info", new_source_info_path(@source), class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<!-- <h2>Infos#Show</h2> -->
</header>
<%= render @info %>
<%= image_tag('logo_sf.PNG', width: '300px', 
              class:'position-absolute top-0 start-0') %>

<div>
  <%# link_to "Editer", edit_source_info_path(@source, @info) %> 
  <%# link_to "Ajouter Info", new_source_info_path(@source) %> 
  <%# link_to "Retour", source_path(@source) %> 
  <%# link_to "Retour aux Sources", root_path %>
  <br><br>
  <%= button_to "Supprimer cette info", [@source, @info], class:"btn btn-danger", method: :delete %>
</div>
